@font-face {
    font-family: "OSRS";
    src: url("public/RuneScape-UF.woff")
}

* {
    font-family: "OSRS";
    color: #ffff00;
}

html {
    font-size: 30px
}

.main-container {
    background-color: #1C2030;
}

.centered-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hidden {
    display: none;
}

#wear-the-hat {
    cursor: pointer;
}